* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(to left, #FF0000, #FFFF00, #008000);
    font-family: "Roboto";
}

p{
        margin: 50px;
}

@media(max-width: 990px) {
    .container{
        margin: auto;
        text-align: center;
        display: flex;
        justify-content: center;
    }
    
    img .img-thumbnail{
        justify-content: center;
        align-items: center;
    }
}